{% extends 'home.html' %}

{% block bodyblock %} 
    <div class= "container home-title">
        <br>
        <h1>Gender Identification Application</h1>
        <br>
        <br>
        <p class="content home-content">
        This is a Flask application integrated with a Machine Learning model for gender identification. This APP can only identify female and male due to the limitation of data.
        </p>
    </div>
    <br>
    <div align = "center" class = "container-btn">
        <a href="{{ url_for('gender')}}" class = "button">
            start
        </a>
    </div>
    <br>
    <div class = 'container-demo'>
        <img src="{{url_for('static', filename='images/demo.png')}}" alt="" class = 'demo'>
    </div>
{% endblock %}