{% extends 'home.html' %}

{% block bodyblock %} 
    <div class="container home-title">
        <br>
        <h1>Gender Identification Application</h1>
        <br>
        <div class = 'container home-content'>
            <form action="#" method="POST", enctype="multipart/form-data">
                <label for="upload" class = 'upload-btn'>Upload Your Image</label>
                <input type="file" id="upload" name="image" required='true' class = 'upload-input'>
                <input type="submit" value="Predict" class = 'upload-submit'>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>

    {% if uploaded %}
        <div class="container model">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='uploads/')}}{{ img_name }}" alt="image_in" height="{{ height }}" width="630">
                </div>
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='predicts/')}}{{ img_name }}" alt="image_out" height="{{ height }}" width="630">
                </div>
            </div>
        </div>

    {% else %}
        <div class = "container-question">
            <img src="{{ url_for('static', filename='images/question.png')}}" alt="question" class = "question">
        </div>

    {% endif %}



{% endblock %}